.items-table{

	 tbody{
		
		tr{
			padding:0;
			border-radius: $radius;
			position: relative;
			box-shadow: 0 1px 0 0 #f8f8f8;
			@include transitionMedium;
			.dropdown{
				opacity:0;
			}
			&.active,
			&:hover{
				box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
				z-index: 1;
				.dropdown{
					opacity:1;
				}	
			}
			th,
			td{
				border: 0;
				padding:18px 8px;
			}
		}
	}
	@include respond('phone') {
		width:500px;
	}	
}

.star-review{
	i{
		font-size:16px;
		&.text-gray{
			color:#d9d9d9;
		}
	}
	span{
		color:$black;
	}
}


// Form Head
.form-head{

	.breadcrumb{
		background:transparent;
		padding:0;
	}
	.search-area{
		max-width:300px;
		border-radius: 0;
		@include respond('laptop') {
			max-width:250px;
		}
		@include respond('phone') {
			max-width:250px;
		}
		.form-control{
			border: 0;
			height: 56px;
			padding: 10px 15px;
			font-size: 16px;
			background:#f1f1f1;
			border-radius:0;
			@include respond('laptop') {
				height: 41px;
				padding: 10px 15px;
				font-size: 13px;
			}
		}
		.input-group-append .input-group-text{
			background:#f1f1f1;
			padding: 0 5px  0 30px;
			@include respond('laptop') {
				padding: 0 5px  0 30px;
			}
			i {
				font-size: 20px;
				color:$body-color;
				@include respond('laptop') {
					font-size: 18px;
				}
			}
		}
	}
	.dropdown {
		.btn{
			
			i{
				transform: scale(1.3);
				-moz-transform: scale(1.3);
				-webkit-transform: scale(1.3);
				-ms-transform: scale(1.3);
				-o-transform: scale(1.3);
				display: inline-block;
			}
		}
		&:after{
			color:$primary;
			font-size:25px;
		}
	}
	/* .btn i{
		line-height: 1;
		transform: scale(1.3);
		display: inline-block;
		margin-right: 5px;
	} */
	.btn-outline-primary{
		border-color:#eee;
		&:hover{
			border-color:$primary;
		}
	}
	& > *{
		@include respond('phone-land') {
			margin-right:5px !important;
			margin-bottom:10px;	
			vertical-align: baseline;
			margin-left:0 !important;
		}
	}
	@include respond('phone-land') {
		display:block !important;
	}
}
.rounded{
	border-radius:$radius !important;
}
.btn-link{
    font-weight: 500;
    font-size: 16px;
	@include respond('laptop') {
		font-size: 14px;
	}
}
.deznav .copyright{
	font-size:14px;
	padding: 0 45px;
	margin-top: 40px;
	color: #969BA0;
	margin-bottom: 40px;
	
	p{
		margin-bottom:10px;
	}
	
	@include respond('laptop') {
		padding:0 25px;
	}
	@include respond ('phone-land'){
		padding-bottom: 40px;
	}
}
.widget-buyer {
    .media {
        img {
            width: 30px;
        }
        .media-body {
            h5 {
                font-size: 14px;
                margin-bottom: 0px;
            }
            p {
                font-size: 13px;
            }
        }
    }
}

.recentOrderTable {
    table {
        margin-bottom: 0;
        overflow: hidden;
        thead {
            th {
                font-size: 12px;
            }
        }
        tbody {
            td {
                color: $dark;
                font-weight: 500;
                line-height: 40px;
                @at-root [data-theme-version="dark"] & {
                    color: $d-ctl;
                }
                img {
                    border-radius: 50px;
                }
                .custom-dropdown {
                    i {
                        padding: 0 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.activity_overview{
	.nav-tabs{
		border-bottom:1px solid rgba(255,255,255,0.2) !important;
	}
	.custom-tab-1 .nav-link{
		color:rgba(255,255,255,0.5);
		padding-left: 0;
		padding-right: 0;
		margin-right: 30px;
		
		&:hover,
		&.active{
			background:transparent;
			color:#fff;
			border-color: #fff;
		}
	}
}
.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
    background-color: transparent!important;
    opacity: 0.9;
}

.chart-link {
    @include respond('phone') {
        display: flex;
        align-items: center;
    }
    @include respond('tab-land') {
        display: flex;
        align-items: center;
    }
    @include respond('desktop') {
        display: flex;
        align-items: center;
    }
    .week-link {
        display: inline-block;
        // @include respond('tab-land'){
        //     display: flex;
        // }
    }
    a {
        display: inline-block;
        font-size: 12px;
        font-weight: 500;
        margin-right: 10px;
        i {
            font-size: 13px;
            &.text-primary {
                color: $primary;
            }
            &.text-muted {
                color: #DAE2F3!important;
            }
        }
    }
    .form-control {
        max-width: 97px;
        display: inline-block;
    }
}
.input-group {
	&.input-group-lg{
		.form-control,.input-group-text{
			height:80px;
			padding:10px 30px;
			@include respond('phone') {
				height:50px;
				padding: 10px 15px;
				font-size:14px;
			}
		}
		.input-group-text{
			width:200px;
			text-align:left;
			@include respond('phone') {
				width:120px;
				padding: 10px 15px;
				height:50px;
				font-size:14px;
			}
		}
	}
}
.card-tabs {
    .nav-tabs {
		border-bottom: 0px;
		background: $light;
		padding: 0;
		border-radius: 5rem;
		flex-wrap: unset;
			
        .nav-link {
            border-radius:5rem;
		    padding: 12px 20px;
			font-weight: 500;
			font-size:14px;
			border:0;
            &.active {
                background: $primary;
                color: $white;
            }
			@include respond('laptop') {
				padding: 8px 15px;
				font-weight: 400;
				font-size: 13px;
			}
        }
		&.tabs-lg{
			.nav-link {
				padding:23px 30px;
				font-size:16px;
				@include respond('phone-land') {
					padding:10px 15px;
					font-size:14px;
				}	
			}
		}	
    }
	&.icontabs{
		.nav-tabs{
			background:transparent;
			.nav-item{
				.nav-link{
					height:42px;
					width:42px;
					line-height:42px;
					text-align:center;
					background:rgba($gray,0.6);
					color:$white;
					margin-right:15px;
					border-radius:	50px;
					padding:0;
					&.active{
						background:$warning;
					}
					i{
						font-size:25px;
						line-height:42px;
					}
				}
			}
		}
	}
}

.revenue-chart .apexcharts-legend.apexcharts-align-left .apexcharts-legend-series{
	display:flex !important;
	margin-right: 30px !important;
	margin-bottom: 30px !important;
}
.revenue-chart-bar{
	margin-bottom:-30px;
	
	@include respond('phone') {
		margin-bottom: 20px;
		float: none;
		padding-left: 20px;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.revenue-chart-bar{
		margin-bottom: 20px;
		float: none;
		padding-left: 20px;
	}
}
#activeUser {
    height: 215px!important;
}
#activeUser {
    height: 180px!important;
}
span#counter {
    font-size: 30px;
    font-weight: 700;
    color: $primary;
}
.social-graph-wrapper {
    text-align: center;
    padding: 20px;
    position: relative;
    color: $white;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
	
    &.widget-facebook {
        background-color: $facebook;
    }
    &.widget-twitter {
        background-color: $twitter;
    }
    &.widget-linkedin {
        background-color: $linkedin;
    }
    &.widget-googleplus {
        background-color: $google-plus;
    }
    .s-icon {
        font-size: 24px;
        position: relative;
        // top: 0.625rem;
        padding: 0 10px;
    }
}
.recent-stats i{
    font-size: 11px;
    position: relative;
    top: -1px;
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	#lineChart_3Kk{
		height: 140px !important;
	}
}
/* add menu sidebar */
.add-menu-sidebar{
	background: $primary; 
	padding: 40px 20px 20px;
    border-radius: 0;
	position:relative;
    margin: 50px 50px 30px;
	@include respond('laptop') {
		 margin: 50px 25px 30px;
	}
	@include respond('phone') {
		 margin: 20px 25px 30px;
	}
	
	p{
		font-size:16px;
		line-height:1.4;
		font-weight:300;
		color:#fff;
	}
	&:after{
		position:absolute;
		background-image:url('../images/dots.svg');
		background-repeat:no-repeat;
		bottom:10px;
		right:20px;
		content:"";
		height:30px;
		width:25px;
	}
}

.donut-chart-sale {
	position:relative;
	small {
		font-size: 16px;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		display: flex;
		align-items: center;
		top: 0;
		justify-content: center;
		font-weight: 600;
	}
}
 .profile-bx{
	.profile-image{
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		img{
			margin: 18px;
			width: 118px;
		}
	}
 }
 
 //search-area
 .search-area{
	width: 300px;
	.form-control{
		background:#EFEFEF!important;
		border-width:0px;
		padding-left: 20px;
		min-height: 55px;
		border-radius: 0 60px 60px 0;
		&::placeholder{
			color:#757575;
		}
	}
	.input-group-text{
		background:#EFEFEF;
		border-width:0px;
		padding-right: 0;		
		padding-left: 25px;
		border-radius: 60px 0 0 60px!important;
		i{
			font-size:25px;
		}
		
	}
	@include respond('tab-port'){
		width:200px;
	}
 }
 

 
 .contact-icon{
	height:50px;
	width:50px;
	min-width:50px;
	border:1px solid rgba($primary,0.2);
	color:$primary;
	font-size:30px;
	border-radius:100%;
	line-height:50px;
	text-align:center;
	
	@include respond('laptop'){
		height:41px;
		width:41px;
		line-height:41px;
		min-width:41px;
		font-size:18px;
	}
 }
 
 .toogle-bx{
	height:16px;
	position:relative;
	width:33px;
	@include transitionMedium;
	background:#D8D8D8;
	border-radius:23px;
	span{
		@include transitionMedium;
		background:#959595;
		height:24px;
		width:24px;
		position:absolute;
		top:50%;
		transform:translatey(-50%);
		left:-10px;
		border-radius:100%;
	}
	&.active{
		@include transitionMedium;
		background:rgba($primary,0.3);
		span{
			@include transitionMedium;
			left:18px;
			background:$primary;
		}
	}
}
 
 .min-w24{
	min-width:24px;
 } .min-w30{
	min-width:30px;
 }
 .min-w32{
	min-width:32px;
 }
 .min-w42{
	min-width:42px;
 }
 .min-w46{
	min-width:46px;
 }
 .min-w50{
	min-width:50px;
 }
.line-chart-demo{

} 
 
 //card-bx
 .card-bx{
	position:relative;
	display: inline-block;
	z-index:1;
	width:100%;
	margin-bottom:100px;
	&>img{
		position:absolute;
		height:100%;
		width:100%;
		z-index:0;
		border-radius:$radius;
		object-fit:cover;
	}
	.card-info{
		position:relative;
		padding: 40px 30px;
		.dot-img{
			width:60px;
		}
	}
	a{
		height:68px;
		width:68px;
		left:50%;
		transform:translatex(-50%);
		bottom: -80px;
		position:absolute;
		line-height:68px;
		text-align:center;
		font-size:25px;
		background:$white;
		box-shadow:0px 0px 10px rgba(0,0,0,0.1);
		color:$dark;
		border-radius:5rem;
	}
	@include respond ('phone'){
		margin-bottom:60px;
		.card-info{
			padding: 15px 15px;		
		}
		a{
			height:45px;
			width:45px;
			line-height:45px;
			bottom:-40px;
		}
		h2{
			font-size:25px!important;
		}
		h4{
			font-size:16px!important;
		}
	}
	::selection{
		background:$black;
		color:$white;
	}
 }
 
 .owl-carousel{
	.card-bx{
		max-width:460px;
		@include respond ('phone'){
			width:300px;
		}
	}
 }
 //stacked
 .stacked{
	position:relative;
	z-index:1;
	&:after,&:before{
		content:"";
		z-index:-1;
		background:#FFFFFF;
		border-radius:30px;
		box-shadow:0px 4px 8px rgba(0,0,0,0.1);
		height:50%;
		position:absolute;
		left:50%;
		transform:translatex(-50%);
	}
	&:after{
		width:80%;
		bottom:-30px;
		@include respond ('phone'){
			bottom:-15px;
		}
	}
	&:before{
		width:70%;
		bottom:-60px;
		@include respond ('phone'){
			bottom:-30px;
		}
	}
 }


//testimonial -1
.testimonial-one{
	.owl-item{
		text-align:center;
		padding: 10px 0;
		&.center{
			background:rgba($primary,0.1);
			border-radius:$radius;
			.image-bx{
				i{
					opacity:1;
				}
			}
		}
		.image-bx{
			position:relative;
			display:inline-block;
			i{
				position:absolute;
				height:30px;
				opacity:0;
				width:30px;
				border-radius:3rem;
				bottom:0;
				right:0;
				background:$primary;
				color:$white;
				line-height:30px;
				text-align:center;
			}
		}
		img{
			width:85px;
			border-radius:$radius;
			margin:auto;
		}
	}
	.owl-carousel{
		.owl-nav{
			display:block;
			.owl-prev,.owl-next{
				position: absolute;
				width: 68px;
				height: 68px;
				line-height: 52px;
				border-radius: 5rem;
				border:8px solid #F9F9F9;
				top: 50%;
				background: $white;
				color: $primary;
				font-size: 30px;
				margin-top: -30px;
				text-align: center;
				cursor: pointer;
			}
			.owl-next{
				right:-60px;
				@include respond ('phone-land'){
					right:-40px;
				}
			}
			.owl-prev{
				left:-60px;
				@include respond ('phone-land'){
					left:-40px;
				}
			}
		}
	}
}
.form-group.style-1{
	.form-control{
		border-color:transparent;
		margin-right: -45px;
		z-index: 0;
		color:$black;
		background:#F0F0F0;
		border-radius:$radius;
	}
}

.previous-transactions{
	tbody{
		tr{
			td:first-child{
				width:100px;
			}
		}
	}
}

.oi-icon{
	display:inline-block;
	width:40px;
	height:40px;
	min-width:40px;
	line-height:40px;
	border-radius:40px;
	text-align:center;
}
.plus-icon{
	height:48px;
	width:48px;
	line-height:48px;
	text-align:center;
	background:$white;
	color:$primary;
	border-radius:48px;
}


//star rating
.rating-widget .rating-stars ul li i {
    font-size: 25px !important;
}

// Heart Blast
.heart {
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url('../images/like.png');
    cursor: pointer;
    margin: -25px -15px;
}
.heart-blast {
    background-position: -1680px 0;
    transition: background 1s steps(28);
}

.apexcharts-tooltip.apexcharts-theme-light{
	border-radius: 10px;
	background: #ffffff;
	border: 0 !important;
	box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15);
}
.apexcharts-xaxistooltip.apexcharts-theme-light{
	border-radius: 0.42rem !important;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15) !important;
    box-shadow: 0px 0px 50px 0px rgba(82, 63, 105, 0.15) !important;
    border: 0 !important;
    background: #ffffff !important;
}
.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title{
	background: #F3F6F9 !important;
    border: 0 !important;
}
.apexcharts-tooltip .apexcharts-tooltip-title {
    padding: 0.5rem 1rem;
}
.apexcharts-xaxistooltip.apexcharts-theme-light:before {
    border-bottom: 0 !important;
}
.apexcharts-xaxistooltip.apexcharts-theme-light:after {
    border-bottom-color: #ffffff !important;
}