<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Donateur" style="font-size: 22px;">
    <app-signindonnateur></app-signindonnateur>
  </mat-tab>
  <mat-tab label="Association" style="font-size: 22px;">
    <app-signinassociation></app-signinassociation>
  </mat-tab>
</mat-tab-group>

