<div class="deznav">
  <div class="deznav-scroll" [perfectScrollbar]>
    <ul class="metismenu" id="menu" metis-menu>

      <li *ngIf="user.role == 'admin'" class="{{(currentHref == '/admin/donor-list') ? 'mm-active' : ''}}">
        <a [routerLink]="['/admin/donor-list']"
          class="has-arrow ai-icon {{(currentHref == '/admin/donor-list') ? 'mm-active' : ''}}" aria-expanded="false">
          <i class="flaticon-381-user-3"></i>
          <span class="nav-text">Donateurs</span>
        </a>
      </li>

      <li *ngIf="user.role == 'admin'" class="{{(currentHref == '/admin/associaion-list') ? 'mm-active' : ''}}">
        <a [routerLink]="['/admin/associaion-list']"
          class="has-arrow ai-icon {{(currentHref == '/admin/associaion-list') ? 'mm-active' : ''}}"
          aria-expanded="false">
          <i class="flaticon-381-internet"></i>
          <span class="nav-text">Associations</span>
        </a>
      </li>

      <li *ngIf="user.role == 'admin'" class="{{(currentHref == '/admin/act-list') ? 'mm-active' : ''}}">
        <a [routerLink]="['/admin/act-list']"
          class="has-arrow ai-icon ai-icon {{(currentHref == '/admin/act-list') ? 'mm-active' : ''}}"
          aria-expanded="false">
          <i class="flaticon-381-layer-1"></i>
          <span class="nav-text">Acts</span>
        </a>
      </li>

      <li *ngIf="user.role != 'admin'"class="{{(currentHref == '/home/rubrique') ? 'mm-active' : ''}}">
        <a [routerLink]="['/home/rubrique']"
          class="has-arrow ai-icon ai-icon {{(currentHref == '/home/rubrique') ? 'mm-active' : ''}}"
          aria-expanded="false">
          <i class="flaticon-381-layer-1"></i>
          <span class="nav-text">Rubrique</span>
        </a>
      </li>



      <li *ngIf="user.role == 'association'"class="{{(currentHref == '/home/gestionrubrique') ? 'mm-active' : ''}}">
        <a [routerLink]="['/home/gestionrubrique']"
          class="has-arrow ai-icon ai-icon {{(currentHref == '/home/gestionrubrique') ? 'mm-active' : ''}}"
          aria-expanded="false">
          <i class="flaticon-381-layer-1"></i>
          <span class="nav-text">Gestion Rubrique</span>
        </a>
      </li>

      <li *ngIf="user.role == 'association'"class="{{(currentHref == '/home/ajouterubrique') ? 'mm-active' : ''}}">
        <a [routerLink]="['/home/ajouterubrique']"
          class="has-arrow ai-icon ai-icon {{(currentHref == '/home/ajouterubrique') ? 'mm-active' : ''}}"
          aria-expanded="false">
          <i class="flaticon-381-layer-1"></i>
          <span class="nav-text">Ajoute Rubrique</span>
        </a>
      </li>



    </ul>

    <div class="copyright">
      <p><strong>Charity Land <a *ngIf="user.role == 'admin'">Dashboard</a> <span
            [ngClass]="{'': toggleIcon, 'heart-blast': !toggleIcon}" class="heart" (click)="toggleLoveIcon()"></span>
          <br></strong> © 2021 All Rights Reserved</p>
    </div>
  </div>
</div>
