<div class="content-body">
	<div class="container-fluid">
		<div class="row page-titles mx-0">
			<div class="col-sm-6 p-md-0">
			</div>
			<div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Rubriques</a></li>
				</ol>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-xl-6" *ngFor="let act of actes">
				<div class="card" (click)="see(act)">
					<div class="card-body" >
						<div class="row m-b-30">
							<div class="col-md-5 mb-md-0 mb-3 col-xl-6">
								<div class="new-arrival-product mb-4 mb-xxl-4 mb-md-0 h-100" >
									<div  class="new-arrivals-img-contnent h-100" style="border-radius: 16px;">
										<img class="img-fluid"  src="{{act.photosUrl}}" alt="">
									</div>
								</div>
							</div>
							<div class="col-md-7 col-xl-6">
								<div class="new-arrival-content position-relative">
									<h4>{{act.titre}}</h4>
									<p>Code: <span class="item">FXG-103-{{act.id}}</span> </p>
									<p>Association: <span class="item">{{getAss(act.associationId)?.titre}}</span></p>
									<p class="text-content">{{act.description}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
