<!--**********************************
	Content body start
***********************************-->
<div class="content-body col-xl-8" style="margin: auto">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <!-- row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Formulaire Association</h4>
            </div>
            <div class="card-body">
              <div class="form-validation">
                <form class="form-valide" action="#" method="post" [formGroup]="angForm" novalidate>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="titre">Titre
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input class="form-control" id="titre" formControlName="titre"
                            placeholder="Enter votre titre..">
                          <div
                            *ngIf="angForm.controls['titre'].invalid && (angForm.controls['titre'].dirty || angForm.controls['titre'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['titre'].errors.required">
                              titre est obligatoire.
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="mail">mail <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="mail" formControlName="mail"
                            placeholder="votre mail ..">
                          <div
                            *ngIf="angForm.controls['mail'].invalid && (angForm.controls['mail'].dirty || angForm.controls['mail'].touched)"
                            class="text-danger fs-13 mt-1">
                            <div *ngIf="angForm.controls['mail'].errors.required">
                              mail est obligatoire.
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-password">Mot de passe
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <div class="input-group">
                            <input #inputPassword type="password" class="form-control" formControlName="password"
                              id="password" placeholder="Doit etre sécurisé">

                            <div class="input-group-append show-pass1 ">
                              <span class="input-group-text ">
                                <i class="fa" [ngClass]="{'fa-eye-slash': toggleEye, 'fa-eye': !toggleEye}"
                                  (click)="toggleEyeIcon(inputPassword)"></i>
                              </span>
                            </div>
                          </div>

                          <div
                            *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['password'].errors.required">
                              password est obligatoire.
                            </div>
                            <div *ngIf="angForm.controls['password'].errors.minlength">
                              password doit etre au moins 8 characters.
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- /////////////////////////////////////////////////////////////////////////////////// -->

                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="phone">phoneephone
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input type="number" class="form-control" id="phone" placeholder="216-00-000-000"
                            formControlName="phone">
                          <div
                            *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['phone'].errors.required">
                              telphoneest obligatoire.
                            </div>


                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="description">Description <span
                            class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">

                          <textarea class="form-control" id="description" rows="5" formControlName="description"
                            placeholder="Description de l association.."></textarea>

                          <div
                            *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty || angForm.controls['description'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['description'].errors.required">
                              description is required.
                            </div>
                          </div>
                        </div>
                      </div>



                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="adresse">Adresse
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="adresse" placeholder="Rue..."
                            formControlName="adresse">
                          <div
                            *ngIf="angForm.controls['adresse'].invalid && (angForm.controls['adresse'].dirty || angForm.controls['adresse'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['adresse'].errors.required">
                              Adresse est obligatoire.
                            </div>


                          </div>
                        </div>
                      </div>


                      <a class="btn btn-primary" (click)="submit()">S'inscrire</a>
                    </div>
                  </div>


                </form>
              </div>
            </div>





          </div>
        </div>
      </div>
    </div>
  </div>
  <!--**********************************
	Content body end
***********************************-->
