<div class="authincation vh-100">
  <div class="container h-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-md-8">
        <div class="form-input-content text-center error-page">
          <h1 class="error-text font-weight-bold">404</h1>
          <h4><i class="fa fa-exclamation-triangle text-warning"></i> La page que vous cherchiez est introuvable !</h4>
          <p>Vous avez peut-être mal tapé l'adresse ou la page a peut-être été déplacée.</p>
          <div>
            <a class="btn btn-primary" (click)="backHome()">Retour à la page d'accueil</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
