<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex mb-4">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
					<li class="breadcrumb-item active"><a href="javascript:void(0)">Ajout rubrique</a></li>
				</ol>
			</div>
      <!-- row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Ajout du rubrique de charité</h4>
            </div>
            <div class="card-body">
              <div class="form-validation">
                <form class="form-valide" action="#" method="post" [formGroup]="angForm" novalidate>
                  <div class="row">
                    <div class="col-xl-6">
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="titre">Titre
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="titre" formControlName="titre"
                            placeholder="Enter votre titre..">
                          <div
                            *ngIf="angForm.controls['titre'].invalid && (angForm.controls['titre'].dirty || angForm.controls['titre'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['titre'].errors.required">
                              titre est obligatoire.
                            </div>
                          </div>
                        </div>
                      </div>


                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="description">Description <span
                            class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">

                          <textarea class="form-control" id="description" rows="5" formControlName="description"
                            placeholder="Description de la rubrique.."></textarea>

                          <div
                            *ngIf="angForm.controls['description'].invalid && (angForm.controls['description'].dirty || angForm.controls['description'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['description'].errors.required">
                              description is required.
                            </div>
                          </div>
                        </div>
                      </div>



                      <div class="form-group">
                        <h5 class="mb-2"><i class="fa fa-paperclip"></i> Attatchment</h5><br>
                        <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                          <ngx-dropzone-label>
                            <div>
                              Déposer photo du rubrique ici
                            </div>
                          </ngx-dropzone-label>
                          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
                            [removable]="true" (removed)="onRemove(f)">
                            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                          </ngx-dropzone-image-preview>
                        </div>
                      </div>






                    </div>
                  </div>

                  <a class="btn btn-primary mt-2" (click)="submit()">Ajouter</a>
                </form>
              </div>
            </div>





          </div>
        </div>
      </div>
    </div>
  </div>
