<!--**********************************
	Content body start
***********************************-->
<div class="content-body col-xl-8" style="margin: auto">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <!-- row -->
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Formulaire Donateur</h4>
            </div>
            <div class="card-body">
              <div class="form-validation">
                <form class="form-valide" action="#" method="post" [formGroup]="angForm" novalidate>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="cin">Cin
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input type="number" class="form-control" id="cin" formControlName="cin"
                            placeholder="Enter votre cin..">
                          <div
                            *ngIf="angForm.controls['cin'].invalid && (angForm.controls['cin'].dirty || angForm.controls['cin'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['cin'].errors.required">
                              cin est obligatoire et doit etre 8 de chiffres.
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="pseudo">Nom et prenom
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="pseudo" formControlName="pseudo"
                            placeholder="Enter votre nom et prenom..">
                          <div
                            *ngIf="angForm.controls['pseudo'].invalid && (angForm.controls['pseudo'].dirty || angForm.controls['pseudo'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['pseudo'].errors.required">
                              Nom et prenom est obligatoire.
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="mail">mail <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="mail" formControlName="mail"
                            placeholder="votre maill ..">
                          <div
                            *ngIf="angForm.controls['mail'].invalid && (angForm.controls['mail'].dirty || angForm.controls['mail'].touched)"
                            class="text-danger fs-13 mt-1">
                            <div *ngIf="angForm.controls['mail'].errors.required">
                              mail est obligatoire.
                            </div>

                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="val-password">Mot de passe
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <div class="input-group">
                            <input #inputPassword type="password" class="form-control" formControlName="password"
                              id="password" placeholder="Doit etre sécurisé">

                            <div class="input-group-append show-pass1 ">
                              <span class="input-group-text ">
                                <i class="fa" [ngClass]="{'fa-eye-slash': toggleEye, 'fa-eye': !toggleEye}"
                                  (click)="toggleEyeIcon(inputPassword)"></i>
                              </span>
                            </div>
                          </div>

                          <div
                            *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['password'].errors.required">
                              password est obligatoire.
                            </div>
                            <div *ngIf="angForm.controls['password'].errors.minlength">
                              password doit etre au moins 8 characters.
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- /////////////////////////////////////////////////////////////////////////////////// -->

                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="phone">phoneephone
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input type="number" class="form-control" id="phone" placeholder="216-00-000-000"
                            formControlName="phone">
                          <div
                            *ngIf="angForm.controls['phone'].invalid && (angForm.controls['phone'].dirty || angForm.controls['phone'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['phone'].errors.required">
                              telphoneest obligatoire.
                            </div>


                          </div>
                        </div>
                      </div>


                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="dateNaissance">Date de naissance
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input type="date" class="form-control" id="dateNaissance" formControlName="dateNaissance">
                          <div
                            *ngIf="angForm.controls['dateNaissance'].invalid && (angForm.controls['dateNaissance'].dirty || angForm.controls['dateNaissance'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['dateNaissance'].errors.required">
                              Date de naissance obligatoire.
                            </div>


                          </div>
                        </div>
                      </div>


                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="gouvernorat">Gouvernorat
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="gouvernorat" placeholder="gouvernorat"
                            formControlName="gouvernorat">
                          <div
                            *ngIf="angForm.controls['gouvernorat'].invalid && (angForm.controls['gouvernorat'].dirty || angForm.controls['gouvernorat'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['gouvernorat'].errors.required">
                              Gouvernorat est obligatoire.
                            </div>


                          </div>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label class="col-lg-4 col-form-label" for="adresse">Adresse
                          <span class="text-danger">*</span>
                        </label>
                        <div class="col-lg-6">
                          <input type="text" class="form-control" id="adresse" placeholder="Rue..."
                            formControlName="adresse">
                          <div
                            *ngIf="angForm.controls['adresse'].invalid && (angForm.controls['adresse'].dirty || angForm.controls['adresse'].touched)"
                            class="text-danger fs-13 mt-1">

                            <div *ngIf="angForm.controls['adresse'].errors.required">
                              Adresse est obligatoire.
                            </div>


                          </div>
                        </div>
                      </div>


                      <a class="btn btn-primary" (click)="submit()">S'inscrire</a>


                    </div>
                  </div>


                </form>
              </div>
            </div>





          </div>
        </div>
      </div>
    </div>
  </div>
  <!--**********************************
	Content body end
***********************************-->
