<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
  <div class="container-fluid">
    <div class="row page-titles mx-0">
      <div class="col-sm-6 p-md-0">
      </div>
      <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="javascript:void(0)">App</a></li>
          <li class="breadcrumb-item active"><a href="javascript:void(0)">Gestion du rubrique</a></li>
        </ol>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="authincation " *ngIf="this.actes.length==0">
              <div class="container ">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-8">
                    <div class="form-input-content text-center error-page">
                      <h4><i class="fa fa-exclamation-triangle text-warning"></i> Vous n'avez pas du rubrique pour le
                        moment</h4>
                      <p>
                        Vous pouvez cliquer sur le bouton ci-dessous pour en ajouter un nouveau</p>
                      <div>
                        <a class="btn btn-primary mb5" [routerLink]="['../ajouterubrique']">Ajouter des Rubriques</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="table-responsive" *ngIf="this.actes.length>0">
              <table class="table table-responsive-lg mb-0 table-striped">
                <thead>
                  <tr>
                    <th class="">
                      <div class="custom-control custom-checkbox mx-2">
                        <input type="checkbox" class="custom-control-input" id="checkAll"
                          (change)="checkUncheckAll($event)">
                        <label class="custom-control-label" for="checkAll"></label>
                      </div>
                    </th>
                    <th>Titre</th>
                    <th class="pl-5 width200">Description</th>
                    <th>Etat</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody id="customers">
                  <tr class="btn-reveal-trigger" *ngFor="let act of actes,let index = index">
                    <td>
                      <div class="custom-control custom-checkbox mx-2">
                        <input type="checkbox" class="custom-control-input" [id]="'checkbox'+index.toString()">
                        <label class="custom-control-label" [for]="'checkbox'+index.toString()"></label>
                      </div>
                    </td>
                    <td class="py-3 width200 ">
                      <a>
                        <div class="media d-flex align-items-center">
                          <div class="avatar avatar-xl mr-2">
                            <div class=""><img class="rounded-circle img-fluid" [src]="act.photosUrl" width="30"
                                alt="" />
                            </div>
                          </div>
                          <div class="media-body">
                            <h5 class="mb-0 fs--1">{{act.titre}}</h5>
                          </div>
                        </div>
                      </a>
                    </td>
                    <td class="py-2 pl-5 wspace-no ">{{act.description}}</td>
                    <td class="py-2 ">
                      <span class="badge badge-success" *ngIf="act.estlivre">Livré<span
                          class="ml-1 fa fa-check"></span></span>
                      <span class="badge badge-primary" *ngIf="!act.estlivre">En ligne<span
                          class="ml-1 fa fa-redo"></span></span>
                    </td>
                    <td class="py-2 text-right">
                      <div class="dropdown dropdown-no-icon" ngbDropdown>
                        <button class="btn btn-primary tp-btn-light sharp" type="button" ngbDropdownToggle><span
                            class="fs--1">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                              width="18px" height="18px" viewBox="0 0 24 24" version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <circle fill="#000000" cx="5" cy="12" r="2"></circle>
                                <circle fill="#000000" cx="12" cy="12" r="2"></circle>
                                <circle fill="#000000" cx="19" cy="12" r="2"></circle>
                              </g>
                            </svg>
                          </span>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right border py-0" ngbDropdownMenu>
                          <div class="py-2"><a class="dropdown-item" (click)="update(act)">Edit</a><a
                              class="dropdown-item text-danger" (click)="delete(act.titre,act.id)">Delete</a></div>
                        </div>
                      </div>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--**********************************
	Content body end
***********************************-->
