<div>
  <div class="card-header">
    <h4 class="card-title">Mettre à jour</h4>
  </div>
  <div class="card-body">
    <div class="basic-form">

      <div class="profile-personal-info">
        <h4 class="text-primary mb-4">Informations</h4>
        <div class="row mb-2">
          <div class="col-sm-3 col-5">
            <h5 class="f-w-500">Rubrique Titre <span class="pull-right">:</span>
            </h5>
          </div>
          <div class="col-sm-9 col-7"><span>{{data.titre}}</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-3 col-5">
            <h5 class="f-w-500">Rubrique Description <span class="pull-right">:</span>
            </h5>
          </div>
          <div class="col-sm-9 col-7"><span>{{data.description}}</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-3 col-5">
            <h5 class="f-w-500">Association Titre <span class="pull-right">:</span></h5>
          </div>
          <div class="col-sm-9 col-7"><span>{{ass.titre}}</span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-3 col-5">
            <h5 class="f-w-500">Association Contact <span class="pull-right">:</span>
            </h5>
          </div>
          <div class="col-sm-9 col-7"><span>{{ass.phone}}</span>
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-primary mt-2" (click)="close()" [routerLink]="['./home/profile/'+ass.cid]">Voir Association
        Profile</button>

    </div>
  </div>
</div>