<div>
  <div class="card-header">
    <h4 class="card-title">Mettre à jour</h4>
  </div>
  <div class="card-body">
    <div class="basic-form">


      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Nom et prenom</label>
          <input type="text" class="form-control" [(ngModel)]="data.pseudo">
        </div>
        <div class="form-group col-md-6">
          <label>CIN</label>
          <input type="number" class="form-control" [(ngModel)]="data.cin">
        </div>
        <div class="form-group col-md-6">
          <label>Telephone</label>
          <input type="number" class="form-control" [(ngModel)]="data.phone">
        </div>
        <div class="form-group col-md-6">
          <label>Description</label>
          <textarea class="form-control" [(ngModel)]="data.description"></textarea>
        </div>
        <div class="form-group col-md-6">
          <label>Gouvernorat</label>
          <input type="text" class="form-control" [(ngModel)]="data.gouvernorat">
        </div>
        <div class="form-group col-md-6">
          <label>Adresse</label>
          <input type="text" class="form-control" [(ngModel)]="data.adresse">
        </div>

        <div class="form-group col-md-6"></div>



      </div>
      <button type="submit" class="btn btn-primary mt-2" (click)="save()">Sauvegarder</button>

    </div>
  </div>
</div>