<div class="header">
  <div class="header-content">
    <nav class="navbar navbar-expand">
      <div class="collapse navbar-collapse justify-content-between">
        <div class="header-left">
          <div class="dashboard_bar">
            <div class="input-group search-area d-lg-inline-flex d-none">
              <div class="input-group-append">
                <span class="input-group-text"><i class="flaticon-381-search-2"></i></span>
              </div>
              <input type="text" class="form-control" placeholder="Chercher ...">
            </div>
          </div>
        </div>
        <ul class="navbar-nav header-right">

          <li class="nav-item dropdown notification_dropdown dropdown-no-icon" ngbDropdown *ngIf="user.role">
            <a class="nav-link  ai-icon" href="javascript:void(0)" role="button" data-toggle="dropdown"
              ngbDropdownToggle>
              <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M12.6001 4.3008V1.4C12.6001 0.627199 13.2273 0 14.0001 0C14.7715 0 15.4001 0.627199 15.4001 1.4V4.3008C17.4805 4.6004 19.4251 5.56639 20.9287 7.06999C22.7669 8.90819 23.8001 11.4016 23.8001 14V19.2696L24.9327 21.5348C25.4745 22.6198 25.4171 23.9078 24.7787 24.9396C24.1417 25.9714 23.0147 26.6 21.8023 26.6H15.4001C15.4001 27.3728 14.7715 28 14.0001 28C13.2273 28 12.6001 27.3728 12.6001 26.6H6.19791C4.98411 26.6 3.85714 25.9714 3.22014 24.9396C2.58174 23.9078 2.52433 22.6198 3.06753 21.5348L4.20011 19.2696V14C4.20011 11.4016 5.23194 8.90819 7.07013 7.06999C8.57513 5.56639 10.5183 4.6004 12.6001 4.3008ZM14.0001 6.99998C12.1423 6.99998 10.3629 7.73779 9.04973 9.05099C7.73653 10.3628 7.00011 12.1436 7.00011 14V19.6C7.00011 19.817 6.94833 20.0312 6.85173 20.2258C6.85173 20.2258 6.22871 21.4718 5.57072 22.7864C5.46292 23.0034 5.47412 23.2624 5.60152 23.4682C5.72892 23.674 5.95431 23.8 6.19791 23.8H21.8023C22.0445 23.8 22.2699 23.674 22.3973 23.4682C22.5247 23.2624 22.5359 23.0034 22.4281 22.7864C21.7701 21.4718 21.1471 20.2258 21.1471 20.2258C21.0505 20.0312 21.0001 19.817 21.0001 19.6V14C21.0001 12.1436 20.2623 10.3628 18.9491 9.05099C17.6359 7.73779 15.8565 6.99998 14.0001 6.99998Z"
                  fill="#3E4954" />
              </svg>
              <span class="badge light text-white bg-primary rounded-circle">2</span>
            </a>
            <!--             <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <div id="DZ_W_Notification1" class="widget-media dz-scroll p-3 height380" [perfectScrollbar]>
                <ul class="timeline">
                  <li>
                    <div class="timeline-panel">
                      <div class="media mr-2">
                        <img alt="image" width="50" src="assets/images/avatar/1.jpg">
                      </div>
                      <div class="media-body">
                        <h6 class="mb-1">Dr sultads Send you Photo</h6>
                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="timeline-panel">
                      <div class="media mr-2 media-info">
                        KG
                      </div>
                      <div class="media-body">
                        <h6 class="mb-1">Resport created successfully</h6>
                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="timeline-panel">
                      <div class="media mr-2 media-success">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="mb-1">Reminder : Treatment Time!</h6>
                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="timeline-panel">
                      <div class="media mr-2">
                        <img alt="image" width="50" src="assets/images/avatar/1.jpg">
                      </div>
                      <div class="media-body">
                        <h6 class="mb-1">Dr sultads Send you Photo</h6>
                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="timeline-panel">
                      <div class="media mr-2 media-danger">
                        KG
                      </div>
                      <div class="media-body">
                        <h6 class="mb-1">Resport created successfully</h6>
                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="timeline-panel">
                      <div class="media mr-2 media-primary">
                        <i class="fa fa-home"></i>
                      </div>
                      <div class="media-body">
                        <h6 class="mb-1">Reminder : Treatment Time!</h6>
                        <small class="d-block">29 July 2020 - 02:26 PM</small>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <a class="all-notification" href="javascript:void(0)">See all notifications <i
                  class="ti-arrow-right"></i></a>
            </div> -->
          </li>
          <li class="nav-item dropdown header-profile dropdown-no-icon" ngbDropdown *ngIf="user.role">
            <a class="nav-link" href="javascript:void(0)" role="button" data-toggle="dropdown" ngbDropdownToggle>
              <div class="header-info">
                <span class="text-black">Hello,
                  <strong *ngIf="user.role=='admin'">{{user.pseudo}}</strong>
                  <strong *ngIf="user.role=='donateur'">{{user.pseudo}}</strong>
                  <strong *ngIf="user.role=='association'">{{user.titre}}</strong>
                </span>
                <p class="fs-12 mb-0" *ngIf="user.role=='admin'">Super Admin</p>
                <p class="fs-12 mb-0" *ngIf="user.role=='donateur'">Donateur</p>
                <p class="fs-12 mb-0" *ngIf="user.role=='association'">Association</p>
              </div>
              <img [src]="user.photoUrl" width="20" alt="" />
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
              <a [routerLink]="['profile/'+user.cid]" *ngIf="user.role=='donateur'||user.role=='association'" class="dropdown-item ai-icon">
                <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                  <circle cx="12" cy="7" r="4"></circle>
                </svg>
                <span class="ml-2">Profile </span>
              </a>
              <a [routerLink]="" class="dropdown-item ai-icon"  (click)="logout()">
                <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                  <polyline points="16 17 21 12 16 7"></polyline>
                  <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
                <span class="ml-2">Déconnecter </span>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown " *ngIf="!user.role">
            <div>
              <a class="btn btn-primary mb5" [routerLink]="['../login']">Connexion</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
