<div>
  <div class="card-header">
    <h4 class="card-title">Mettre à jour</h4>
  </div>
  <div class="card-body">
    <div class="basic-form">


      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Titre</label>
          <input type="text" class="form-control" [(ngModel)]="data.titre">
        </div>
        <div class="form-group col-md-6">
          <label>Description</label>
          <textarea class="form-control" [(ngModel)]="data.description"></textarea>
        </div>
        <mat-form-field class="form-group col-md-6" appearance="fill">
          <mat-label>Etat</mat-label>
          <mat-select [(ngModel)]="data.estlivre" name="Etat">
            <mat-option *ngFor="let et of Etat" [value]="et.value">
              {{et.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="form-group col-md-6">

        </div>

        <div class="form-group col-md-6">
          <h5 class="mb-2"><i class="fa fa-paperclip"></i> Attatchment</h5><br>
          <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
            <ngx-dropzone-label>
              <div>

                Déposer votre nouveau photo ici
              </div>
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f"
              [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </div>
        </div>


      </div>
      <button type="submit" class="btn btn-primary mt-2" (click)="save()">Sauvegarder</button>

    </div>
  </div>
</div>
