<div class="authincation h-100">
  <div class="container vh-100">
    <div class="row justify-content-center h-100 align-items-center">
      <div class="col-lg-6 col-md-8">
        <div class="authincation-content">
          <div class="row no-gutters">
            <div class="col-xl-12">
              <div class="auth-form">
                <div class="text-center mb-3">
                  <!--<a [routerLink]="['/admin/index']"><img src="assets/images/logo-full.png" alt=""></a>-->
                </div>
                <h4 class="text-center mb-4 text-white">Se connecter a votre compte</h4>
                <form >
                  <div class="form-group">
                    <label class="mb-1 text-white"><strong>Email</strong></label>
                    <input type="email" class="form-control" placeholder="hello@example.com" [(ngModel)]="mail"  [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <label class="mb-1 text-white"><strong>Mot de passe</strong></label>
                    <input type="password"  class="form-control" placeholder="motdepasse" [(ngModel)]="password"  [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-row d-flex justify-content-between mt-4 mb-2">
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn bg-white text-primary btn-block"
                      (click)="sumbit()"><span *ngIf="loading"
                        class="spinner-border spinner-border-sm mr-1"></span>Se connecter</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
